body{
    background-color: rgb(0, 0, 0);
    width: 80%; padding-left: 10%;
}
div {
    background-color: rgb(35, 37, 43);
    border-radius: 10px;
    border: 2px solid rgb(224, 233, 241);
    margin: 1%;
    border-style: dotted;
}
h1{
    color: rgb(167, 85, 34);
    font-family: "Rye";
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    padding-left: 2%;
}
h2{
    color: #e3ded9; padding-left: 1%;
    border-bottom: 4px solid rgb(167, 85, 34);
    margin-right: 30%;
    border-bottom-style: groove;
    margin-left: 1%;
    font-family: 'Marker Felt';
}
h3{
    color: #b5abab;
    padding-left: 2%;
    font-family: "Mochiy Pop One";
}
h4{
    color: #c3afaf;
    padding-left: 2%;
    font-family: "Merienda One";
}
p{
    color: #ffffff;
    font-family: "Syne Mono";
    padding-left: 5%
}
ul{
    color: #FFFFFF;
    font-family: "Comic Sans MS",sans-serif;
}
summary{
    color: #a9a9a9;
}
table, th, td{
    border: 1px solid #ffffff;
}
th, td{
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-block: 10px
}
th{
    color: #FFFFFF;
    background-color: rgb(40, 39, 39);
}
td{
    color: #FFFFFF;
}
.secret{
    color: #2f2f2f;
    background-color:#2f2f2f;
}
.secret:hover{
    color: white;
}
.state{
    font-family: "Vast Shadow";
    font-size: xx-large;
    margin-bottom: 5%;
    margin-top: 1%;
    color: rgb(161, 64, 0);
    text-align: center;
    border-bottom: 4px solid rgb(167, 85, 34);
}
.piechart {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: solid white 1px;
    align-self: center;
}
.clock {
    height:auto;
    display:flex;
}
.one {
    width:70%;
    margin:10px;
    border: none;
}